<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iBook</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script src="static/js/jquery-3.6.0.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.8.3/font/bootstrap-icons.css">
    <!--    <script src="static/js/cart.js"></script>-->

</head>
<body>
<script src="static/js/navtop.js"></script>
<style>
    #top > *:not(:first-child) {
        float: right;
    }
</style>
<div class="container bg-light rounded-lg mt-4" id="cartall">
    <div id="top" class="">
        <nav class="navbar navbar-expand-lg rounded">

            <div class="container rounded-lg bg-light ">

                <div>
                    <ul class="navbar-nav  m-0">
                        <li class="nav-item">
                            <span class="nav-link">购物车（全部<strong
                                    id="allbooknum" v-text="cart.cartitems.length"></strong>）</span>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav  m-0 p-1">
                        <li class="nav-item">
                            <span class="nav-link">已选书籍<strong class="text-danger ml-2"><i
                                    style="color: red;font-size: 0.2rem;"
                                    class="bi bi-currency-yen ml-2"></i>{{getTotal}}</strong></span>
                        </li>
                        <li>
                            <span class="nav-link"><button class="btn btn-secondary btn-sm" :class="checkbooks.length>0?'btn-danger':' '" v-bind:disabled="checkbooks.length<=0">结算</button> </span>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>

    <div class="main">
        <table class="table mt-2 ">
            <thead>
            <tr>
                <th scope="col"><span class="nav-link">
                    <input class="p-0 m-0 bookcheckall" type="checkbox" value="" id="defaultCheck2" v-model="isSelectAll">
                            <label class="m-0 p-0" for="defaultCheck2">全选</label></span></th>
                <th scope="col">书籍</th>
                <th scope="col">类别</th>
                <th scope="col">单价</th>
                <th scope="col">数量</th>
                <th scope="col">小计</th>
            </tr>
            </thead>
            <tbody id="bookmain">
            <tr v-for="(item,index) of cart.cartitems" :key="index">

                <td class="text-center"><input class="" type="checkbox" :value="1" v-model="item.select"></td>
                <th scope="row">
                    <div class="float-left">
                        <a href="#"><img v-bind:src="item.book.image" class="" alt="..."></a>
                    </div>
                    <div class="float-left ml-4">
                        <h3><i style="color: darkred" class="bi bi-book"></i>{{item.book.name}}</h3>
                        <small>{{item.book.description}}</small>
                        <h6 class=""><small class="mr-4">作者: {{item.book.author}}</small><small>类别:
                            {{item.book.category_name}}</small></h6>
                    </div>

                </th>
                <td>{{item.book.category_name}}</td>
                <td>{{item.book.price.toFixed(2)}}</td>
                <td>
                    <div class="input-group input-group-sm">
                        <button class="btn btn-outline-secondary" v-bind:disabled="item.num<=1" @click="item.num--"
                                type="button"><i class="bi bi-dash"></i></button>
                        <div class="col-sm-2 p-0">
                            <input class="form-control text-center" type="tel" v-model.number='item.num'>
                        </div>
                        <button class="btn btn-outline-secondary" @click="item.num++" type="button"><i
                                class="bi bi-plus"></i></button>
                    </div>
                </td>
                <td class="text-danger">{{(item.book.price*item.num).toFixed(2)}}</td>
            </tr>
            <tr v-show="cart.cartitems.length===0" >
                <td colspan="6" class="text-center">购物车空空的~~</td>
            </tr>
            </tbody>


        </table>
        <br><br><br>
    </div>
    <div class="buttom">


        <nav class="navbar navbar-expand-lg fixed-bottom rounded">

            <div class="container rounded-lg bg-light ">

                <div>
                    <ul class="navbar-nav  m-0">
                        <li class="nav-item">
                        <span class="nav-link"><input class="p-0 m-0 bookcheckall" v-model="isSelectAll" type="checkbox"
                                                      value=""
                                                      id="bookcheckall">
                            <label class="m-0 p-0" for="bookcheckall">全选</label></span>

                        </li>
                        <li class="">
                            <span class="nav-link">删除</span>
                        </li>
                        <li class="ml-5">
                            <div class="custom-control custom-switch nav-link">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">消息订阅</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav  m-0 p-1">
                        <li class="nav-item">
                            <span class="nav-link">已选书籍<strong class="text-danger">{{checkbooks.length}}</strong>件</span>
                        </li>
                        <li class="">
                            <span class="nav-link">合计：<strong class="text-danger"><i
                                    style="color: red;font-size: 0.2rem;"
                                    class="bi bi-currency-yen ml-2"></i>{{getTotal}}</strong></span>
                        </li>
                        <li class="">
                            <span class="nav-link"><button class="btn btn-secondary btn-sm" :class="checkbooks.length>0?'btn-danger':' '" v-bind:disabled="checkbooks.length<=0">结算</button> </span>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>

</body>
<script>
    $(function () {
        $.get("GetCartServlet", function (data) {
            console.log(data);

            if (data) {
                pushcart(data);
            }
        });

        function pushcart(cart) {
            vm._data.cart = cart;
            // Vue添加select响应属性
            for (var i = 0; i < cart.cartitems.length; i++) {
                Vue.set(vm._data.cart.cartitems[i], 'select', false);
            }
        }
    });
    var vm = new Vue({
        el: '#cartall',
        data: {
            cart: '',
            checkbooks: [],
        },
        methods: {},
        computed: {
            getTotal: function () {
                const newArr = this.cart.cartitems.filter(function (val) {
                    return val.select === true;
                });
                this.checkbooks= newArr;
                let price = 0;
                for (let i = 0; i < newArr.length; i++) {
                    price += newArr[i].num * newArr[i].book.price
                }
                return price.toFixed(2)
            },
            isSelectAll: {
                get: function () {
                    return this.cart.cartitems.every(function (val) {
                        return val.select === true;
                    })
                },
                set: function (newValue) {
                    for (var i = 0; i < this.cart.cartitems.length; i++) {
                        this.cart.cartitems[i].select = newValue;
                    }
                }
            },

        },
    });
</script>
</html>